@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/*https://joshua-dev-story.blogspot.com/2020/11/javascript-css-scroll-animation.html*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.image {
    background-color: #2421A9;
    border-radius: 50%;
    width: 20vw;
    height:20vw;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 5vw;
    margin: 0;
    font-size: 1.2vw;

    opacity: 0;
    animation: fadeInText 1s ease-out forwards;
}

.text a{
    font-size: 2vw;
    font-weight: bold;
    width: 80%;
}

.top, .sectop{
    align-self: center;
    width: 100%;
    justify-content: center;
    display: flex;
    animation: fadein 1.2s;
}
.sectop{
    background-image: url("../img/coding5.jpg");
    opacity: 0.8;
    
    background-size: 100%;
    width: 100%;
    margin: 5vw;
}

.sectop p{
    font-size: xx-large;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    color: white;
}

.exp{
    width: 90%;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
    display: flex;
}
.d1{
    border: 3px solid #0b0a68;
    border-radius: 50%;
    height: 15vw;
    width:15vw;
    float: left;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vw;
    /*background-image: url("../img/letter2.png");*/
    background-color: antiquewhite;

    animation: fadein 1.2s;

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.d1:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.d1 p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 2.5vw;

}

@keyframes fadeInText {
    100% {
        opacity: 1;
    }

}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}





@media (max-width:500px) {
    .main {
        font-size: 3vw;
    }

    .image {
        width: 120px;
        height: 120px;
    }



}