.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.input {
    width: 250px;
    height: 40px;
    margin: 20%;
    border: none;

}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    width: 700px;
    height: 500px;
    border-radius: 50px;
}

.pt {
    display: flex;
    flex-direction: column;
}

.btn {
    width: 200px;
    height: 50px;
    margin: 20%;
    <<<<<<< HEAD background-color: #FF9D6E;
    border: none;
    border-radius: 10px;
    font-size: 1.125rem;
    color: aliceblue;
}

.btn:hover {
    background-color: #FF7F50;
    =======>>>>>>>main
}